*{
    font-family: 'Comfortaa', 'Courier', 'monospace', 'sans-serif', 'serif';
}


:root{
    --link-color: black;
    --alt-link-color: #3A77FD ;
}


html{
    min-width:100%;
    
}

h2{ 
    font-size: 35px;
}

h3{
    font-size: 23px;
}

body{ /* work on background image */
    display: flex; 
    min-width: 100%;
    min-height: 100%;
    background-color: aliceblue;
} 


header{
    display: flex;
    background-color: white;
    border: 1px solid black;
    filter: drop-shadow(1px 5px 1px #D2D3D4);
    width: 100%;
    height: 200px;
    padding: 70px 30px 50px 0px;
    margin: 0px auto;
    position: absolute;
    align-items: center;
    justify-content: center;
}

header h1{ 
    font-family: 'monospace';
    font-size: 70px;
    color: black;
    justify-content: center;
    padding: 0px 300px 0px 100px;
    filter: drop-shadow(1px 5px 1px #D2D3D4);
}


#profile-img{
    display: flex;
    height: 200px;
    width: 160px;
    margin-left: 300px;
    border: 2px solid;
    border-radius: 50px;
    filter: drop-shadow(1px 5px 1px #D2D3D4);
}

/* nav is separate from the header, for fixed position purpose*/
nav{
    display: flex;
    flex-direction: column; 
    flex-wrap: wrap;
    position: fixed;
    padding: 50px;
    align-content: flex-end;
}


nav a{
    padding:15px;
    color: var(--link-color);
    text-decoration: none;
    font-size: 30px;
    cursor: pointer;
}

button{
    border-color:var(--alt-link-color);
    width: 170px;
    height: 50px;
    border-radius: 15px;
    border-color: black;
    font-size: 22px;
    background-color: white;
    cursor: pointer;
    filter: drop-shadow(1px 5px 1px #D2D3D4);
}


nav a button:hover{
    color: var(--alt-link-color);
    filter: drop-shadow(2px 8px 1px #686868);
}


/* About me section--- possibly add more info in about me p*/
#about-me{
    display: flex;
    padding: 500px 0px 0px 50px;
    margin-bottom: 200px;
}

#about-me h2{
    padding: 10px 130px 0px 0px;
    margin-left: 300px;
    width: 200px;
    text-align: center;
    display: block; 
    filter: drop-shadow(1px 5px 1px #D2D3D4);
}

#about-me p{ /* add what I can contribute */
    line-height: 50px;
    font-size: 25px;
    padding: 10px 380px 60px 20px;
    color: black;
}

#about-me a{
    text-decoration: none;
    color: var(--alt-link-color);
}

#about-me a:hover{
    color: black;
    filter: drop-shadow(1px 5px 1px #D2D3D4);
}


/* My work section */
#my-work{
    display: flex;
    padding: 0px 0px 300px 50px;
}

#my-work h2{
    padding: 10px 30px 0px 0px;
    margin-left: 300px;
    width: 200px;
    text-align: center;
    display: block; 
    filter: drop-shadow(1px 5px 1px #D2D3D4);
}

#my-work-container{
    display: flex;
    flex-flow: wrap row;
    padding: 50px;
    justify-content: center;
}

.challenge-1-card h3{
    height: 16px;
    padding: 10px;
    border-radius: 10px;
    color: black;
    background-color: aliceblue;
    opacity: 0.8;
    text-align: start; /*text align not working*/
}

.challenge-2-card h3{
    height: 44px;
    padding: 10px;
    border-radius: 10px;
    color: black;
    background-color: aliceblue;
    opacity: 0.8;
    text-align: start; /*text align not working*/
}

.challenge-3-card h3{
    height: 44px;
    padding: 10px;
    border-radius: 10px;
    color: black;
    background-color: aliceblue;
    opacity: 0.8;
    text-align: start; /*text align not working*/
}

.future-project-card h3{
    height: 44px;
    padding: 10px;
    border-radius: 10px;
    color: black;
    background-color: aliceblue;
    opacity: 0.8;
    text-align: start; /*text align not working*/
}

#my-work h3:hover{
    color: var(--alt-link-color);
}

#my-work a{
    text-decoration: none;
}

.challenge-1-card{
    display: flex;
    background-image: url(https://github.com/MasynNay/type-ninja/blob/main/public/images/demo3.png?raw=true);
    background-size: cover;
    background-position: center;
    height: 500px;
    width: 900px;
    padding: 10px 10px 10px 10px;
    margin-right: 220px;
    border: 3px solid black;
    border-radius: 30px;
    filter: drop-shadow(6px 10px 1px #D2D3D4);
}

.challenge-1-card:hover{
    filter: drop-shadow(10px 14px 1px #848484);
}

.card-column-1{
    display: flex;
    flex-direction: column;
    height: 400px;
    width: 350px;
    padding: 70px 140px 70px 0px;
}

/* Split the card columns in html and fix in css*/
.card-column-2{
    display: flex;
    flex-direction: column;
    height: 400px;
    width: 350px;
    padding: 70px 200px 70px 0px;
    margin-right: 150px;
}

.challenge-2-card{
    display: flex;
    background-image: url(https://user-images.githubusercontent.com/103869234/206628962-8e8b59ca-c909-4c7e-8a9b-17244984afcd.png);
    width: 150px;
    padding: 150px; 
    margin: 18px 20px 70px 20px;
    border: 3px solid white;
    border-radius: 30px;
    background-size: cover;
    background-position: center;
    filter: drop-shadow(6px 10px 1px #CCCCCC);
}

.challenge-2-card:hover{
    filter: drop-shadow(10px 14px 1px #848484);
}

.challenge-3-card{
    display: flex;
    background-image: url(https://github.com/J3rkStore/weatheringo/blob/main/images/SkyJam.png?raw=true);
    width: 150px;
    padding: 150px; 
    margin: 18px 20px 70px 20px;
    border: 3px solid white;
    border-radius: 30px;
    background-size: cover;
    background-position: center;
    filter: drop-shadow(6px 10px 1px #CCCCCC);
}

.challenge-3-card:hover{
    filter: drop-shadow(10px 14px 1px #848484);
}
.future-project-card{
    display: flex;
    background-image: url(https://i.pinimg.com/736x/40/bf/50/40bf5022f099e7030c11e17e50f4b3da.jpg);
    opacity: 0.8;
    width: 150px;
    padding: 150px; 
    margin: 18px 20px 70px 20px;
    border: 3px solid white;
    border-radius: 30px;
    background-size: cover;
    background-position: center;
    filter: drop-shadow(6px 10px 1px #CCCCCC);
}

.future-project-card:hover{
    filter: drop-shadow(10px 14px 1px #848484);
}



/* Contact me section*/
#contact{
    padding: 40px 200px 200px 50px;
    margin-top: 250px;
    display: flex;
    background-color: var(--alt-link-color);
}

#contact h2{
    color: aliceblue;
    padding-right: 120px;
    margin: 15px 0px 0px 300px;
    filter: drop-shadow(1px 5px 1px black);
}

address a{
    display: flex inline-block;
    text-decoration: none;
    color: var(--alt-link-color);
    padding: 0px 50px 30px 0px;
    font-size: 25px;
}

address a button{
    filter: drop-shadow(1px 5px 1px #595959);
    border-color: black;
    margin-top: 10px;
}

address a button:hover{
    color: var(--alt-link-color);
    filter: drop-shadow(3px 8px 1px black);
}



/* Media Queries- screen adjustment*/
/* struggling to fit x-axis on some widths*/

@media screen and (max-width: 1800px) {
    button{
        background-color: #043052;
        color: aliceblue;
    }
    #my-work-container {

    }
}


/* My laptop width */
@media screen and (max-width: 1200px) {
    *{
        width: 100%;
    } 
    #profile-img{
        width: 400px;
        margin-left: 400px;
    }
    #about-me p{
        padding: 10px 50px 60px 20px;
    }
    .challenge-1-card{
        width: 700px;
        height: 400px;
        margin-right: 200px;
    }
    .future-project-card{
        width: 120px;
        height: 50px;
    }
    .card-column-1{
        margin-right: auto;
    }
    .card-column-2{
        margin-left: 450px;
    }
    #contact a{
        /*margin-right: 600px;*/
        margin-left: 0px;
    }
}




@media screen and (max-width: 1024px) {
    h1{
        text-align: center;
    }
    #about-me{
        display: flex;
        flex-direction: column;
    }
    #about-me h2{
        margin-left: 450px;
    }
    #about-me p{
        margin-left: 365px;
        text-align: center;
    }
    #my-work{
        display: flex;
        flex-direction: column;
        flex-flow: wrap column;
    }
    #my-work h2{
        margin-left: 450px;
    }
    .challenge-1-card{
        width: 500px;
        flex-direction: column;
        margin-left: 250px;
    }
    .future-project-card{
        width: 200px;
        height: 0px;
    }
    .card-column-2{
        margin-left: 210px;
        padding-top: 310px;
    }
    #contact{
        display: flex;
        flex-direction: column;
    }
    #contact h2{
        margin: 0px 0px 20px 350px;
    }
}




@media screen and (max-width: 768px) {
    header{
        background-color:#043052;
        flex-direction: column;
        padding-top: 200px;
    }
    h1{
        color:aliceblue;
        filter: drop-shadow(1px 5px 1px black);
        margin: 0px 0px 100px 500px;
        text-align: center;
        font-size: 50px;
    }
    #profile-img{
        filter: drop-shadow(1px 5px 1px black);
        margin-bottom: 20px;
    }
    button{
        background-color: white;
        color: black;
        margin-top: 10px;
    }
    #contact{
        background-color: #043052;
    }
    address a button{
        filter: drop-shadow(1px 5px 1px black);
    }
    address a button:hover{
        border-color: white;
    }
    button{
        filter: drop-shadow(1px 5px 1px black);
        height: 40px;
        width: 150px;
    }
    nav a button:hover{
        filter: drop-shadow(1px 5px 1px black);
        border-color: white;
    }
    nav{
        padding: 50px 20px 0px 50px;
        position: absolute;
    }
    #about-me{
        display: flex;
        flex-direction: column;
    }
    #my-work{
        display: flex;
        flex-direction: column;
        flex-flow: wrap column;
    }
    #contact{
        display: flex;
        flex-direction: column;
    }
}



@media screen and (max-width: 480px) {
    button{
        background-color: #043052;
        color: aliceblue;
    }
}

/* write media queries and reset.css*/
/*deploy portfolio to check media query on mobile device*/