/* Add more font-families in list*/
*{
    font-family: 'Comfortaa', 'Courier', 'Andale Mono', 'Gill Sans', 'monospace', 'sans-serif', 'serif';
}


:root{
    --link-color: black;
    --alt-link-color: #3A77FD ;
}


html{
    min-width:100%;
    min-height: 100%;
}

h1{ /*header h1*/
    font-family: 'monospace';
    font-size: 70px;
    color: black;
    justify-content: center;
    padding: 0px 300px 0px 70px;
    filter: drop-shadow(1px 5px 1px #D2D3D4);
}

h2{ /* align h2 elements to be centered above sections*/
    font-size: 35px;
}

h3{
    font-size: 23px;
}

body{ /* work on background image */
    display: flex; 
    min-width: 100%;
    min-height: 100%;
    background-color: aliceblue;
} 


/* Header Section--- needs fixing with margin, padding including header nav*/
header{
    display: flex;
    width: 100%;
    height: 100px;
    padding: 70px 30px 50px 0px;
    position: absolute;
    align-items: center;
    justify-content: center;
}

/* Profile img-delete alternate from assets folder when finished*/
#profile-img{
    display: flex;
    height: 200px;
    width: 160px;
    margin: 100px 0px 0px 50px;
    border: 2px solid;
    border-radius: 50px;
    filter: drop-shadow(1px 5px 1px #D2D3D4);
    /*box-shadow: 0px 0px 5px #fff;*/
}


nav{
    display: flex;
    flex-direction: column; 
    flex-wrap: wrap;
    position: fixed;
    padding: 50px;
    align-content: flex-end;
}


nav a{
    padding:15px;
    color: var(--link-color);
    text-decoration: none;
    font-size: 30px;
    cursor: pointer;
}

button{
    border-color: #3A77FD;
    width: 170px;
    height: 50px;
    border-radius: 15px;
    font-size: 22px;
    background-color: white;
    cursor: pointer;
    filter: drop-shadow(1px 5px 1px #D2D3D4);
}


nav a button:hover{
    color: var(--alt-link-color);
}


/* About me section--- possibly add more info in about me p*/
#about-me{
    display: flex;
    padding: 500px 0px 0px 50px;
    margin-bottom: 200px;
}

#about-me h2{
    padding: 10px 130px 0px 0px;
    margin-left: 300px;
    width: 200px;
    text-align: center;
    display: block; /*text align and display block appear not to work*/
    filter: drop-shadow(1px 5px 1px #D2D3D4);
}

#about-me p{
    line-height: 50px;
    font-size: 25px;
    padding: 10px 380px 60px 20px;
    color: black;
}

#about-me a{
    text-decoration: none;
    color: var(--alt-link-color);
}

#about-me a:hover{
    color: black;
    filter: drop-shadow(1px 5px 1px #D2D3D4);
}


/* My work section---fix link to direct to refactor website */
#my-work{
    display: flex;
    background-color:;
    padding: 0px 0px 50px 50px;
}

#my-work h2{
    padding: 10px 30px 0px 0px;
    margin-left: 300px;
    width: 200px;
    text-align: center;
    display: block; /*text align and display block appear not to work*/
    filter: drop-shadow(1px 5px 1px #D2D3D4);
}

#my-work-container{
    display: flex;
    flex-flow: wrap row;
    padding:50px;
    justify-content: center;
}
/*Trying to get the images to fit inside of their container.*/

#my-work-container h3{
    padding:;
    padding: 10px;
    color: var(--alt-link-color);
    text-align: start; /*text align not working*/
}

#my-work a{
    text-decoration: none;
    color:;
}


#my-work a:hover{
    color: white; /*not working*/
}

.challenge-1-card{
    display: flex;
    flex-direction: row;
    background-image: url(https://user-images.githubusercontent.com/103869234/206628962-8e8b59ca-c909-4c7e-8a9b-17244984afcd.png);
    background-size: cover;
    background-position: center;
    height: 400px;
    width: 500px;
    padding: 0px 20px 10px 0px;
    border: 2px solid black;
    border-radius: 30px;
}

.card-column-1{
    display: flex;
    flex-direction: column;
    height: 400px;
    width: 300px;
    padding: 0px;
}

/* Split the card columns in html and fix in css*/
.card-column-2{
    display: flex;
    flex-direction: column;
    height: 400px;
    width: 300px;
    padding: 50px;
}

.future-project-card{
    display: flex;
    background-image: url(https://i.pinimg.com/736x/40/bf/50/40bf5022f099e7030c11e17e50f4b3da.jpg);
    height: 150px;
    width: 150px;
    padding: 150px; 
    border: 2px solid black;
    border-radius: 30px;
    box-shadow: 0px 0px 5px #fff;
    background-size: cover;
    background-position: center;
}



/* Contact me section*/
#contact{
    padding: 200px 200px 50px 50px;
    display: flex;
}

#contact h2{
    padding: 10px 120px 50px 0px;
    margin-left: 300px;
    text-align: center;
    display: block; /*text align and display block appear not to work*/
    filter: drop-shadow(1px 5px 1px #D2D3D4);
}

address p{
    display: flex;
    padding-bottom: 25px;
    font-size: 25px;
    color: var(--link-color);
}

address a{
    display: flex;
    text-decoration: none;
    color: var(--alt-link-color);
    padding: 0px 50px 50px 0px;
    font-size: 25px;
}

address a:hover{
    color: var(--link-color);
    text-shadow: 0px 0px 5px #fff;
}

/* Make my contact links buttons*/
/* write media queries and reset.css*/
/*I could make the h2s as their own divs to style them to sit on top of their container*/
/*Change the margins to paddings to better format the portfolio and for management.*/